#Liste der ignorierten Output-Dateien

vectors
tictactoe.cpp
tictactoe
arrays
printf
streams
funktionen
galgenmaenchen.cpp
galgenmaenchen
strings
kontrollstrukturen
mathOperatoren
datentypen
cin_cout
kommando
kommando_summe
pointer
template_class
template_func
.vscode/settings.json
server
client
Socket
Dateien