#Liste der ignorierten Output-Dateien

# Dateien aus CPP_src
vectors
tictactoe.cpp
tictactoe
arrays
printf
streams
funktionen
strings
kontrollstrukturen
mathOperatoren
datentypen
cin_cout
kommando
kommando_summe
template_class
template_func

# aus dem Ordner Pointer_Array
Pointer_Array/arrays
Pointer_Array/pointer
Pointer_Array/pointer1
Pointer_Array/stack_heap

# aus dem Ordner OOP
Objektorientierung/OOP_1/main_oop_1
Objektorientierung/OOP_2_Vererbung/main
Objektorientierung/OOP_2_Vererbung_protected_private_public/main

# Einstellungen VSCode
.vscode/settings.json
settings.json

# extra Dateien Socket
server
client

# Ordner
Socket
Dateien
Projekte_CPP
