#Liste der ignorierten Output-Dateien

# Dateien aus CPP_src
vectors
tictactoe.cpp
tictactoe
arrays
printf
streams
funktionen
strings
kontrollstrukturen
mathOperatoren
datentypen
cin_cout
kommando
kommando_summe
pointer
template_class
template_func

# aus dem Ordner OOP
main_oop_1

# Einstellungen VSCode
.vscode/settings.json
settings.json

# extra Dateien Socket
server
client

# Ordner
Socket
Dateien
Projekte_CPP
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
